<% layout("layout/boilerplate") %>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 550px">
            <div class="card text-center">
                <div class="fs-1 card-header">
                    BLOGIFY
                </div>
                <div class="card-body">
                    <p class="fs-2 card-text">Blogify provides you the platform where you can express your feelings or
                        share
                        your content or gain some technical knowledge.</p>
                    <a href="/blog" class="btn btn-primary">Click Here To Enter</a>
                </div>
            </div>
        </div>
    </div>