<% layout("layout/boilerplate") %>
    <div class="container col-6">
        <h1 class="text-center mb-3">Login</h1>
        <form class="needs-validation mb-3" action="/user/login" method="POST" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="mb-3">
            New User?
            <a href="/user/register">Click here</a> to register.
        </div>
    </div>