<% layout("layout/boilerplate") %>
    <div class="container col-6 mt-3">
        <h1>Edit the Blog!</h1>

        <form action="/blog/<%= blog._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="blog[title]" value="<%=blog.title %>" required>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="" id="data" style="height: 100px" name="blog[data]"
                    required><%= blog.data %></textarea>
                <label for="data">Blog Content</label>
                <div class="invalid-feedback">
                    Please enter content in the textarea.
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <a class="btn btn-danger" href="/blog/<%= blog._id %>/">Cancel</a>
        </form>
    </div>