<% layout("layout/boilerplate") %>
    <h1 class="text-center my-3">List of All Blogs</h1>
    <% for(let blog of allBlogs) { %>

        <div class="card mb-3 mx-auto" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= blog.title %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= blog.author.username %>
                </h6>
                <p class="card-text">
                    <%= blog.data %>
                </p>
                <a href="/blog/<%= blog._id  %>">Read More</a>
            </div>
        </div>
        <% } %>